.itemList{
    max-width: 31%;
    float: left;
    padding: 5px;
    list-style-type: none;
    background-color: #E0FFFF;
    margin: 5px;
    height: 310px;
    word-wrap: break-word;
    vertical-align: middle;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.itemListImg{
    width: 100%;
}

.hockeyPage{

}