
<h3>Footer</h3>
<p>This is a temporary text line for footer 2018</p>
<p>More fake text to fill up space for the future I guess</p>
<p>
    <a href="http://localhost:9000/createstick">Create Stick</a> || <a href="http://localhost:9000/createhelmet">Create Helmet</a>
</p>

<ul class="footerSocialImages">
    <li><img class = "facebookImg" src="@routes.Assets.at("images/iceBanner.jpg")"></li>
    <li><img class = "twitterImg" src="@routes.Assets.at("images/iceBanner.jpg")"></li>
    <li><img class = "googleImg" src="@routes.Assets.at("images/iceBanner.jpg")"></li>
    <li><img class = "otherImg" src="@routes.Assets.at("images/iceBanner.jpg")"></li>
</ul>