@(item: String)
@HockeyHelmetsService.addTestHockeyHelmets()
@HockeySticksService.addTestHockeySticks()
@if(item.equals("helmets")){
    @for((k,v)<- HockeyHelmetsService.hockeyHelmetsMap){
        <a href="#">
            <div class="itemList">
                <img class="itemListImg" src="@routes.Assets.at("images/iceBanner.jpg")">
                <h2>@v.name</h2>
                <p>
                    @k
                    @v
                </p>
                <p>View More</p>
            </div>
        </a>
    }
} else {
    @for((k,v)<- HockeySticksService.hockeySticksMap){
        <a href="/item/@k">
            <div class="itemList">
                <img class="itemListImg" src="@routes.Assets.at("images/iceBanner.jpg")">
                <h2>@v.name</h2>
                <p>
                    @k
                    @v
                </p>
                <p>View More</p>
            </div>
        </a>
    }
}


<p style="color: whitesmoke">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>