<div class="navbar">
    <a href="http://localhost:9000/">Home</a>
    <a href="http://localhost:9000/about">About</a>
    <div class="dropdown">
        <button class="dropbtn">Ice Hockey
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="http://localhost:9000/hockeyhelmets">Helmets</a>
            <a href="http://localhost:9000/hockeysticks">Sticks</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Figure Skating
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#">Helmets</a>
            <a href="#">Skates</a>
            <a href="#">Blades</a>
        </div>
    </div>
    <a href="http://localhost:9000/extra">Extra</a>
</div>

